apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: hf-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
        - name: ui
          image: hf-monitoring/ui:latest
          ports:
            - containerPort: 5173
          envFrom:
            - configMapRef:
                name: hf-config
---
apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: hf-monitoring
spec:
  type: NodePort
  selector:
    app: ui
  ports:
    - port: 5173
      targetPort: 5173
      nodePort: 30173
